%h2 All Requests

%table#tickets
  %thead
    %tr
      %th Name
      %th Subject
  %tbody
    -@tickets.each do |ticket|
      %tr
        %td = ticket.name
        %td = ticket.subject
        %td = link_to 'Show', ticket_path(ticket)
        %td = link_to 'Destroy', ticket_path(ticket), method: :delete, data:{confirm:'Are you sure?'}
= link_to 'Add new request', new_ticket_path
